<div class="row">
  <div class="col-xs-12">
    <form #shoppingListForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name" class="form-label">Name</label>
          <input type="text" id="name" class="form-control" name="name" ngModel #nameInput="ngModel" required/>
          <span *ngIf="nameInput.invalid && nameInput.touched" class="form-text">You should provide a name for the ingredient</span>
        </div>
        <div class="col-sm-2 form-group">
          <label for="quantity" class="form-label">Quantity</label>
          <input type="text" id="quantity" class="form-control" name="quantity" ngModel #quantityInput="ngModel" required pattern="^\+?[1-9]\d*$"/>
          <span *ngIf="quantityInput.invalid && quantityInput.touched" class="form-text">You should provide a number greater than zero</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" [disabled]="shoppingListForm.invalid" class="btn btn-success">{{ editMode ? 'Update' : 'Add' }}</button>
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-primary">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>